.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.expenses {
  margin: 24px
}

.tbutton {
  margin-left: 19px
}

.t-headers {
  text-align: center;
}

.t-data {
  text-align: center;
  width: 15%;
}

.graph {
  padding: 24px
}

.t-data-btn {
  float:left;
  padding: 12px;
}

.form {
  margin: 8px;
}

.fulltable {
  align-content: center;
  margin: 0px auto;
}

.title{
  font-size: 40px;
}

.t-text{
  text-align: center;
}

.cover-art{
  display: inline;
}

.total-expenses{
  text-align: center;
  color: red;
  display: inline;
  margin: 10px;
}

.recurring-expenses{
  display: inline;
  margin: 10px;
}

.total-deposits{
  text-align: right;
  color: green;
  display: inline;
  margin: 10px;
}

.net-expense{
  text-align: right;
  display: inline;
  margin: 10px;
}

.red-expense{
  color: red;
}

.green-expense{
  color: green;
}

.full-form{
  margin-left: 400px;
}

.edit-form{
  margin: 6px;
}

.add-xp {
  margin: 6px;
}
/*table, th, td {
   border: 2px solid black;
}*/

/*th {
    height: 50px;
}*/
